:root {
  --themeRed: #fa5650;
  --textColor: rgba(0, 0, 0, 0.8);
  --borderColor: rgba(0, 0, 0, 0.1);
  --cardBackgrouund: rgba(0, 0, 0, 0.02);
  --boxShadowColor: rgba(0, 0, 0, 0.05);
  --cardShadow: rgba(0, 0, 0, 0.2);
}

.App {
  display: flex;
  gap: 20px;
  text-align: left;
  color: var(--textColor);
  height: 98vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fontAwesome {
  font-family: Helvetica, "FontAwesome", sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
